version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_IS_STUB: "false"
        VITE_API_URL: "http://localhost:8080"
    ports:
      - "80:80"   # локально открываем 80 → nginx:80
      - "8080:8080"
    environment:
      NODE_ENV: production
    restart: always
