.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-light-grey) transparent;

}

.backlog {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
