.body{
    display: flex;
    width: 100%;
    height: 100%;

}
.main{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 45px 50px 30px 50px;
    gap: 45px;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-neutral);
    border-radius: 8px;
    padding: 40px;
    overflow: auto;

    h2 {
        font-size: 24px;
        line-height: 100%;
        font-weight: 500;
        letter-spacing: 0;
    }
}
.title {
    font-size: 36px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0;
}