.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;

    justify-content: space-between;
    padding: 45px 10px 30px 10px;

    background-color: var(--color-white);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    color: var(--color-black);


    .content {
        display: flex;
        flex-direction: column;
        gap: 70px;
        width: 100%;
        align-items: center;
        height: fit-content;
    }
    &:last-child {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.sidebarOption {
    all: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    padding: 10px 15px;
    gap: 10px;
    color: var(--color-black);
    user-select: none;
    cursor: pointer;
    .icon{
        width: 24px;
        height: 24px;
        color: var(--color-gray-500);
    }

    &:hover{
        color: var(--color-orange-400);
        .icon{
            color: var(--color-orange-400);
        }
    }

    &[data-status = active] {
        background-color: var(--color-orange-200);
        color: var(--color-orange-500);
        .icon{
            color: var(--color-orange-500);
        }
    }
}