table{
    user-select: none;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    border-style: hidden;
    overflow: hidden;
    /*

    box-shadow: 0 0 0 2px var(--color-accent2);
    */
    outline: 2px solid var(--color-accent2);
    th {
        user-select: none;
    }
    th, td {
        border: 2px solid var(--color-accent2);
        padding: 10px 15px;
        word-break: break-word;
        align-items: start;
        vertical-align: top;
    }

    thead{
        th{
            padding: 15px 20px;
            background-color: rgba(255, 231, 219, 1);
            font-weight: 600;
            & > div{

                display: flex;
                gap: 20px;
                justify-content: center;
                overflow: hidden;
                input{
                    width: 100%;
                    outline: none;
                    &::placeholder{
                        color: var(--color-text-dark);
                    }
                }
            }
            &:first-child{
                width: 210px;
            }
        }
    }
    tbody{
        th{
            padding-left: 41px;
            &.haveBtn {
                padding: 10px 15px;
            }
            div {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                &.secondLvl {
                    padding-left: 15px;
                }
                &.thirdLvl {
                    padding-left: 30px;
                }
            }
        }

        tr {
            pointer-events: all;
            cursor: pointer;
            transition: background-color 0.2s;
            position: relative;

            &:hover{
                background-color: rgba(0, 0, 0, 0.03);
            }

            &:focus{
                outline: 4px solid var(--color-accent1);
                outline-offset: -3px;
                z-index: 1;
            }

            td{
                &.editableCell {
                    cursor: text;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.03);
                    }
                    input {
                        all: unset;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        box-sizing: content-box;
                        &:focus {
                            outline: none;
                        }
                    }

                    textarea {
                        all: unset;
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        resize: none;
                        text-align: start;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                &:focus{
                    outline: 4px solid var(--color-accent1);
                    outline-offset: -3px;
                    z-index: 1;
                }
            }
        }
    }
}

.btn {
    all: unset;
    width: 16px;
    height: fit-content;
    border-radius: 3px;
    background-color: var(--color-accent2);
    color: white;
    cursor: pointer;
    &:hover{
        background-color: var(--color-accent1);
    }
    &:active{
        background-color: var(--color-accent2);
    }
    img {
        width: 100%;
    }
}

.dragOver {
    /*background-color: rgba(var(--color-accent1), 0.1);*/
}

.dropBefore {
    border-top: 3px solid var(--color-accent1);
}

.dropAfter {
    border-bottom: 3px solid var(--color-accent1);
}

.dropInside {
    background-color: rgba(var(--color-accent1), 0.5);
    border: 3px dashed var(--color-accent1);
}